
body {
    background: url("../images/moroccan-flower.png");
}


/*按键大小*/
.m-padded-mini{
    padding: 0.2em !important;
}

.m-padded-tiny{
    padding: 0.3em !important;
}

.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
    /* padding: 描述的是内边距的意思

       padding top用法：padding-top:10px; 这个意思距离顶边补距10像素，
       可跟百分比如(padding-top:10%; 距离顶边补10%的距离)；

       padding bottom用法：padding-bottom:10px; 这个意思距离低边补距10像素，
       可跟百分比如(padding-bottom:10%; 距离底边补10%的距离)；*/
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/*--------text-----------*/
/*字体大小*/
.m-text-thin{
    font-weight: 300 !important;
}
/*字间隔*/
.m-text-spaced{
    letter-spacing: 1px !important;
}

/*行间距*/
.m-text-lined{
    line-height: 1.8 !important;
}
/*三合一*/
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}

/*------margin----------*/
.m-margin-tb-tiny
{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-top-small{
    margin-top: 0.5em !important;
}

.m-margin-top{
    margin-top: 1em !important;
}

.m-margin-top-large {
    margin-top: 2em !important;
}

/*---------position---------*/
.m-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

.m-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
}

/*透明度*/
.m-opacity-mini{
    opacity: 0.8 !important;
}

.m-opacity-tiny {
    opacity: 0.6 !important;
}

/*---------display-------*/
.m-inline-block {
    display: inline-block !important;
}

.m-container {
    max-width: 72em !important;
    margin: auto !important;
}

/*--------颜色(color)-------*/
.m-black{
    color: #333 !important;
}
